.button {
    -fx-font: 18px Arial;
    -fx-background-color: #E4340C;
    -fx-text-fill: white;
}
#.button:focused{
#    -fx-font: 18px Arial;
#    -fx-background-color: gray;
#    -fx-text-fill: white;
#}
.button:hover{
    -fx-font: 18px Arial;
    -fx-background-color: black;
    -fx-text-fill: white;
}
.AnchorPane{
    -fx-background-color: #e9e9e9;
}
#translatorItem{
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: grey;
}
.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}


